body {
    background-color:#111;
    color: #eee;
    margin: auto;
    padding: 50px 0px 50px 0px;
    width: 1000px;
    display: block;
    font-size: 0px;
    font-family: Helvetica;
}

#left {
    font-size: 12px;
    width: 450px;
    margin: 0px;
    padding: 0px 50px 0px 0px;
    display: inline-block;
}

#right {
    font-size: 12px;
    width: 440px;
    margin: 0px;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}

#submit{
    display: none;
}

input {
    width: 440px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin: 0px 0px 25px 0px;
    border-width: 5px;
    border-style: solid;
    border-color: magenta;
}

input:focus {
    outline: none;
}

form p {
    font-size: 20px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
    color: magenta;
    margin: 0px;
}

.meme {
    width: 400px;
    margin-bottom: 20px;  
    position: relative;
    max-height: 800px;
    min-height: 100px;
}

.meme img {
    width: 400px;
}

.meme span {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    padding: 2px;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
    width: 380px;
}

.meme span.delBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    color: magenta;
    background-color: black;
    padding: 4px;
    font-weight: bold;
    cursor: pointer;
    width: 20px;
}

.upperText {
    position: absolute;
    top: 10px; 
    left: 10px;
}

.lowerText {
    position: absolute;
    bottom: 10px;
    left: 10px;
}



